body {
  overflow: hidden !important;
}


.hero.is-blue {
  background-color: #38427d;
  color: #0a0a0a;
}

.hero.is-blue a:not(.button):not(.dropdown-item):not(.tag),
.hero.is-blue strong {
  color: inherit;
}

.hero.is-blue .title {
  color: #0a0a0a;
}

.hero.is-blue .subtitle {
  color: rgba(10, 10, 10, 0.9);
}

.hero.is-blue .subtitle a:not(.button),
.hero.is-blue .subtitle strong {
  color: #0a0a0a;
}

@media screen and (max-width: 1023px) {
  .hero.is-blue .navbar-menu {
    background-color: #38427d;
  }
}

.hero.is-blue .navbar-item,
.hero.is-blue .navbar-link {
  color: rgba(10, 10, 10, 0.7);
}

.hero.is-blue a.navbar-item:hover, .hero.is-blue a.navbar-item.is-active,
.hero.is-blue .navbar-link:hover,
.hero.is-blue .navbar-link.is-active {
  background-color: #38427d;
  color: #0a0a0a;
}

.hero.is-blue .tabs a {
  color: #0a0a0a;
  opacity: 0.9;
}

.hero.is-blue .tabs a:hover {
  opacity: 1;
}

.hero.is-blue .tabs li.is-active a {
  opacity: 1;
}

.hero.is-blue .tabs.is-boxed a, .hero.is-blue .tabs.is-toggle a {
  color: #0a0a0a;
}

.hero.is-blue .tabs.is-boxed a:hover, .hero.is-blue .tabs.is-toggle a:hover {
  background-color: rgba(10, 10, 10, 0.1);
}

.hero.is-blue .tabs.is-boxed li.is-active a, .hero.blue .tabs.is-boxed li.is-active a:hover, .hero.is-blue .tabs.is-toggle li.is-active a, .hero.is-blue .tabs.is-toggle li.is-active a:hover {
  background-color: #38427d;
  border-color: #ffffff;
  color: white;
}

.hero.is-blue.is-bold {
  background-image: linear-gradient(141deg, #e6e6e6 0%, white 71%, white 100%);
}

@media screen and (max-width: 768px) {
  .hero.is-blue.is-bold .navbar-menu {
    background-image: linear-gradient(141deg, #e6e6e6 0%, white 71%, white 100%);
  }
}

.hero.is-home {
  background-color: #fff;
  color: #38427d;
  position: fixed;
  width: 100vw;
  z-index: 500;
}

.hero.is-home a:not(.button):not(.dropdown-item):not(.tag),
.hero.is-home strong {
  color: inherit;
}

.hero.is-home .title {
  color: #38427d;

}

.hero.is-home .subtitle {
  color: rgba(10, 10, 10, 0.9);
}

.hero.is-home .subtitle a:not(.button),
.hero.is-home .subtitle strong {
  color: #0a0a0a;
}

@media screen and (max-width: 1023px) {
  .hero.is-home .navbar-menu {
    background-color: #002d72;
  }
}

.hero.is-home .navbar-item,
.hero.is-home .navbar-link {
  color: rgba(10, 10, 10, 0.7);
}

.hero.is-home a.navbar-item:hover, .hero.is-home a.navbar-item.is-active,
.hero.is-home .navbar-link:hover,
.hero.is-home .navbar-link.is-active {
  background-color: #fff;
  color: #002d72;
  font-size: 40px;
}

.hero.is-home .tabs a {
  color: #0a0a0a;
  opacity: 0.9;
}

.hero.is-home .tabs a:hover {
  opacity: 1;
}

.hero.is-home .tabs li.is-active a {
  opacity: 1;
}

.hero.is-home .tabs.is-boxed a, .hero.is-home .tabs.is-toggle a {
  color: #0a0a0a;
}

.hero.is-home .tabs.is-boxed a:hover, .hero.is-home .tabs.is-toggle a:hover {
  background-color: rgba(10, 10, 10, 0.1);
}

.hero.is-home .tabs.is-boxed li.is-active a, .hero.is-home .tabs.is-boxed li.is-active a:hover, .hero.is-home .tabs.is-toggle li.is-active a, .hero.is-home .tabs.is-toggle li.is-active a:hover {
  background-color: #fff;
  border-color: #ffffff;
  color: #38427d;
}

.hero.is-home.is-bold {
  background-image: linear-gradient(141deg, #e6e6e6 0%, white 71%, white 100%);
}

@media screen and (max-width: 768px) {
  .hero.is-home.is-bold .navbar-menu {
    background-image: linear-gradient(141deg, #e6e6e6 0%, white 71%, white 100%);
  }
}




.hero.is-lochmara {
  background-color: #0077c8;
  color: #ffc609;
}

.hero.is-lochmara a:not(.button):not(.dropdown-item):not(.tag),
.hero.is-lochmara strong {
  color: inherit;
}

.hero.is-lochmara .title {
  color: #ffffff;
}

.hero.is-lochmara .subtitle {
  color: rgba(255, 255, 255, 0.9);
}

.hero.is-lochmara .subtitle a:not(.button),
.hero.is-lochmara .subtitle strong {
  color: #ffffff;
}

@media screen and (max-width: 1023px) {
  .hero.is-lochmara .navbar-menu {
    background-color: #0077c8;
  }
}

.hero.is-lochmara .navbar-item,
.hero.is-lochmara .navbar-link {
  color: rgba(255, 255, 255, 0.7);
}

.hero.is-lochmara a.navbar-item:hover, .hero.is-lochmara a.navbar-item.is-active,
.hero.is-lochmara .navbar-link:hover,
.hero.is-lochmara .navbar-link.is-active {
  background-color: #0077c8;
  color: white;
}

.hero.is-lochmara .tabs a {
  color: white;
  opacity: 0.9;
}

.hero.is-lochmara .tabs a:hover {
  opacity: 1;
}

.hero.is-lochmara .tabs li.is-active a {
  opacity: 1;
}

.hero.is-lochmara .tabs.is-boxed a, .hero.is-lochmara .tabs.is-toggle a {
  color: white;
}

.hero.is-lochmara .tabs.is-boxed a:hover, .hero.is-lochmara .tabs.is-toggle a:hover {
  background-color: rgba(10, 10, 10, 0.1);
}

.hero.is-lochmara .tabs.is-boxed li.is-active a, .hero.is-lochmara .tabs.is-boxed li.is-active a:hover, .hero.is-v .tabs.is-toggle li.is-active a, .hero.is-lochmara .tabs.is-toggle li.is-active a:hover {
  background-color: #0077c8;
  border-color: white;
  color: #ffffff;
}

.hero.is-lochmara.is-bold {
  background-image: linear-gradient(141deg, black 0%, #0a0a0a 71%, #181616 100%);
}

@media screen and (max-width: 768px) {
  .hero.is-lochmara.is-bold .navbar-menu {
    background-image: linear-gradient(141deg, black 0%, #0a0a0a 71%, #181616 100%);
  }
}

#message{
	/* background-color: black; */
	background: rgba(51, 66, 121, 0.85);
	color: white; 
	display: inline;
	padding: 0.5rem;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
	font-size: 20px;
}

/* ======================
----- FIRST SECTION------
=======================*/

.first-section {
  background-color: #5bc2f4;
  height: 100vh;
  position: initial;
  width: 100%;
}

.first-section #splash-background {
  align-items: center;
  background-color: white;
  /*background-image: url('../img/splash/slanted_1920x1080.png');*/
  /*background-image: url('../img/splash/streetcar_small')*/
  /*background-image: url('../img/splash/Untitled-1.jpg');*/
  background-image: url('../img/splash/layout.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: relative;
  transition: background .5s;
  width: 100%;
  z-index:30;
}

.first-section .text-content {
  color: #ffdc00;
  padding: 60px 0 60px 0;
  text-align: center;
  color: #000000;
  z-index: 100;

}

.first-section .text-content h2 {
  font-size: 35px;
  /*text-transform: uppercase;*/
  font-weight: 500;
  letter-spacing: 1px;
}

.first-section .text-content .line-dec {
  width: 60px;
  height: 3px;
  background-color: #fff;
  margin: 25px 0px 25px auto;
}

.first-section .text-content div {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
}

.first-section .text-content div br {
  display: none;
}

.first-section .text-content div a.button.is-link {
  margin: 5px 0 5px 0;
}

.first-section .text-content img {
  height: 300px;
  max-width: 100%;
  overflow: hidden;
  width: 300px;
}

@media screen and (max-height:640px) {
  .first-section {
    height: auto;
  }
  .first-section #splash-background {
    height: 100%;
  }
}

@media screen and (max-width:1280px) {
  .first-section #splash-background {
    background-image: url('../img/splash/slanted_1280x720.png');
  }
}

@media screen and (max-width:800px) {
  .first-section #splash-background {
    background-image: url('../img/splash/slanted_800x450.png');
  }

  .first-section .text-content div br {
    display: block;
  }
}

/* This is used for the Logo*/
.first-section .swing-in-top-fwd {
  z-index:10;
	-webkit-animation: swing-in-top-fwd 1.5s ease-out both;
	        animation: swing-in-top-fwd 1.5s ease-out both;
}
/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

 /* Ryerson University Writing*/
 .first-section .tracking-in-expand {
	-webkit-animation: tracking-in-expand 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

 @-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
/* The boats*/
/* This hasn't been implemented */
.wobble-hor-top {
	-webkit-animation: wobble-hor-top 2.5s ease-in 1s infinite both;
	        animation: wobble-hor-top 2.5s ease-in 1s infinite both;
}
/**
 * ----------------------------------------
 * animation wobble-hor-top
 * ----------------------------------------
 */
 @-webkit-keyframes wobble-hor-top {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
            transform: translateX(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
            transform: translateX(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
            transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
            transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
            transform: translateX(-6px) rotate(1.2deg);
  }
}
@keyframes wobble-hor-top {
  0%,
  100% {
    
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
            transform: translateX(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
            transform: translateX(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
            transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
            transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
            transform: translateX(-6px) rotate(1.2deg);
  }
}


/* ======================
---- ABOUT SECTION------
=======================*/

.about-section {
  background-color: #38427d;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  padding: 30px 20px;
}

.about-section .service-item {
  text-align: center;
}

.about-section .service-item .icon img {
  max-width: 100%;
  overflow: hidden;
}

.about-section h4 {
  color: #fff;
  font-size: 40px;
  font-weight: 900;
  margin-top: 25px;
  margin-bottom: 15px;
}
.about-section h5 {
  font-size: 20px;
  color: #415b90;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 15px;
}
.about-section p {
  color: #fff;
  margin-top: 15px;
  color: #415b90;
}

/* ======================
----- SCHEDULE SECTION------
=======================*/

.schedule-section {
  background-color: #ffffff;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  padding: 30px 20px;
}

.schedule-section .right-image {
  display: inline;
}

.schedule-section .right-image img {
  max-width: 100%;
  overflow: hidden;
  text-align: center;
}

.schedule-section .left-text {
  display: inline;
  text-align: right;
}

.schedule-section em {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
}

.schedule-section h4 {
  color: #415b90;
  font-size: 40px;
  font-weight: 900;
  margin-top: 5px;
  margin-bottom: 15px;
}
.schedule-section h5 {
  font-size: 20px;
  color: #415b90;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 15px;
}

.schedule-section p {
  color: #415b90;
  margin-top: 15px;
}


/* ======================
----- FAQ SECTION------
=======================*/

.FAQ-section {
  background-color: #38427d;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  padding: 30px 20px;
}

.FAQ-section .left-image img {
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.FAQ-section .right-text {
  display: inline;
}

.FAQ-section em {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
}

.FAQ-section h4 {
  margin-top: 60px;
  color: #415b90;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.FAQ-section h4.white {
  margin-top: 5px;
  margin-bottom: 15px;
  color: #fff;
}

.FAQ-section h5 {
  font-size: 20px;
  color: #415b90;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 15px;
}

.FAQ-section p {
  color: #415b90;
  margin-top: 15px;
}


/* ======================
---- LOCATION SECTION -----
=======================*/


.Location-section {
  background-color: #ffffff;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  padding: 30px 20px;
}

.Location-section .right-image {
  display: inline;
}

.Location-section .right-image img {
  max-width: 100%;
  overflow: hidden;
  text-align: center;
}

.Location-section .left-text {
  display: inline;
  text-align: right;
}

.Location-section em {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
}

.Location-section h4 {
  color: #415b90;
  font-size: 40px;
  font-weight: 900;
  margin-top: 5px;
  margin-bottom: 15px;
}
.Location-section h5 {
  font-size: 20px;
  color: #415b90;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 15px;
}

.Location-section p {
  color: #415b90;
  margin-top: 15px;
}

/* ======================
----- Sponsors SECTION------
=======================*/

.sponsors-section {
  background-color: #ffffff;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  padding: 30px 20px;
}

.sponsors-section .right-image {
  display: inline;
}

.sponsors-section .right-image img {
  max-width: 100%;
  overflow: hidden;
  text-align: center;
}

.sponsors-section .left-text {
  display: inline;
  text-align: right;
}

.sponsors-section em {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
}

.sponsors-section h4 {
  color: #415b90;
  font-size: 40px;
  font-weight: 900;
  margin-top: 5px;
  margin-bottom: 15px;
}
.sponsors-section h5 {
  font-size: 20px;
  color: #415b90;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 15px;
}

.sponsors-section p {
  color: #415b90;
  margin-top: 15px;
}

.sponsors-section p.content.sponsor-logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sponsors-section img#sponsor-child-play {
  height: 12em;
}

.sponsors-section .sponsor-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0;
}

.sponsors-section .sponsor-flex-container img {
  margin: 1.5em;
}

.sponsors-section .sponsor-flex-container img#bmo-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 8em;
}

.sponsors-section .sponsor-flex-container img#itrade-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 8em;
}

.sponsors-section .sponsor-flex-container img#sponsor-chainsafe {
  height: 12em;
}

.sponsors-section .sponsor-flex-container img#sponsor-fdm {
  height: 6em;
}

.sponsors-section .sponsor-flex-container img#sponsor-lighthouselabs {
  height: 5em;
}

.sponsors-section .sponsor-flex-container img#sponsor-hackerearth{
  height: 4.5em;
}

.sponsors-section .sponsor-flex-container img#sponsor-techdom,
.sponsors-section .sponsor-flex-container img#sponsor-mlh {
  height: 4.5em;
}

.sponsors-section .sponsor-flex-container img#sponsor-dmz {
  height: 6em;
}

.sponsors-section .sponsor-flex-container img#sponsor-dot-tech,
.sponsors-section .sponsor-flex-container img#foundsbeta_logo,
.sponsors-section .sponsor-flex-container img#beamcity_logo
{
  height: 5em;
}

.sponsors-section .sponsor-flex-container img#sponsor-ieee,
.sponsors-section .sponsor-flex-container img#sponsor-rsu,
.sponsors-section .sponsor-flex-container img#sponsor-stickermule,
.sponsors-section .sponsor-flex-container img#sponsor-cleanzone,
.sponsors-section .sponsor-flex-container img#sponsor-ece {
  height: 3em;
}

.sponsors-section .sponsor-flex-container img#sponsor-ieee,
.sponsors-section .sponsor-flex-container img#sponsor-stickermule {
  height: 3.5em;
}

.sponsors-section .sponsor-flex-container img#sponsor-rss
{
  height: 5em;
}


/*@media (max-width:768px) {
  .sponsors-section img#sponsor-child-play {
    height: auto;
  }

  .sponsors-section .sponsor-flex-container img {
    height: auto !important;
    margin: 1.5em 0 1.5em 0;
    padding: 0 0.5em 0 0.5em;
  }

  .sponsors-section .sponsor-flex-container img#sponsor-td {
    width: auto;
  }

  .sponsors-section .sponsor-flex-container img#sponsor-thales,
  .sponsors-section .sponsor-flex-container img#sponsor-cibc {
    width: 8em;
  }

  .sponsors-section .sponsor-flex-container img#sponsor-fdm {
    width: 14em;
  }

  .sponsors-section .sponsor-flex-container img#sponsor-rogers,
  .sponsors-section .sponsor-flex-container img#sponsor-consensys
  {
    width: 18em;
  }

  .sponsors-section .sponsor-flex-container img#sponsor-jetbrains {
    width: 14em;
  }

  .sponsors-section .sponsor-flex-container img#sponsor-dot-tech,
  .sponsors-section .sponsor-flex-container img#sponsor-hackerearth,
  .sponsors-section .sponsor-flex-container img#sponsor-github,
  .sponsors-section .sponsor-flex-container img#sponsor-mlh
  {
    width: 12em;
  }
  .sponsors-section .sponsor-flex-container img#sponsor-FoS,
  .sponsors-section .sponsor-flex-container img#sponsor-ree,
  .sponsors-section .sponsor-flex-container img#sponsor-recess {
    width: auto;
  }

  .sponsors-section .sponsor-flex-container img#sponsor-rss,
  .sponsors-section .sponsor-flex-container img#sponsor-ress,
  .sponsors-section .sponsor-flex-container img#sponsor-cpc,
  .sponsors-section .sponsor-flex-container img#sponsor-LUG,
  .sponsors-section .sponsor-flex-container img#sponsor-IEEE
  {
    width: 10em;
  }
}*/

/* ======================
--- PRIZES SECTION---
=======================*/

.prizes-section {
  background-color: #38427d;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  padding: 30px 20px;
}

.prizes-section .left-image img {
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.prizes-section .right-text {
  display: inline;
}

.prizes-section em {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
}

.prizes-section h4 {
  margin-top: 5px;
  margin-bottom: 15px;
  color: #fff;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 1px;
}

.prizes-section h5 {
  font-size: 20px;
  color: #415b90;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 15px;
}

.prizes-section p {
  color: #415b90;
  margin-top: 15px;
}

/* ==================================
----- TRACKs & CHALLENGES SECTION ----
=====================================*/

.Tracks-section {
  background-color: #ffffff;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  padding: 30px 20px;
}

.Tracks-section h4 {
  color: #415b90;
  font-size: 40px;
  font-weight: 900;
  margin-top: 5px;
  margin-bottom: 15px;
}

.Tracks-section p {
  color: #415b90;
  margin-top: 15px;
}

/* ======================
----- FOOTER SECTION ----
=======================*/

footer {
  background-color: #002d72;
  text-align: center;
  padding: 20px 0px 20px 0px;
}

footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

footer ul li {
  display: inline-block;
  margin: 0 3px;
}

footer ul li a {
  font-size: 16px;
  color: #415b90;
  display: inline-block;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
}

footer ul li a:hover {
  background-color: #22304d;
  color: #ffdc00;
  transition: all 0.3s;
}

footer p {
  margin-top: 20px;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: #fff;
}

footer em {
  font-style: normal;
  font-weight: 600;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #3CF;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}

.topnav {
  background-color: rgb(51, 66, 121);
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 9990;
}

.topnav a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ffdc00;
  color: black;
}

.topnav-btn {
  margin: 5px;
  display: none;
}

.topnav .burger span {
  background-color: white;
  display: block;
  height: 2px;
  margin: 4px;
  width: 20px;
}

#topnav-nav {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
}

#topnav-nav .nav-container {
  width: auto;
}

#chart_wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    }
div.google-visualization-tooltip {
    width: auto;
    height:auto;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    vertical-align: middle;
}

@media screen and (max-width: 600px) {
  .topnav a{display: none;}
  .topnav-btn {
    display: block;
  }
  .topnav.responsive {position: fixed;}
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
  #topnav-nav {
    max-width: 100%;
  }
  #topnav-nav .nav-container {
    width: 100%;
  }
}
